@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap");
footer {
  margin-top: auto;
  background-color: #20D5CA;
  text-align: center;
  align-items: flex-end;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
}

.foterLinks ul li {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  text-align: center;
}

.foterLogo img {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: flex-start;
}

.foterRedes img {
  max-width: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  padding: 10px;
}

/*NavBar*/
.logoNav img {
  height: 70px;
  width: 80px;
  display: flex;
  justify-content: flex-start;
}

#navBar {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}

#navbarNav {
  justify-content: flex-end;
}

.logoNav {
  width: 70px;
  height: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

li, a {
  display: inline-block;
  font-style: none;
  list-style: none;
  text-decoration: none;
}

/*IMAGENES*/
#contedorImg {
  width: 1366px;
  height: 768px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  object-fit: cover;
  gap: 8px;
}

.gridImg {
  background-size: cover;
  background-image: url(../images/FotosDelMusi1.jpg);
}

.gridImg2 {
  background-image: url(../images/FotosDelMusi2.jpg);
  background-size: cover;
}

.gridImg3 {
  background-image: url(../images/FotosDelMusi3.jpg);
  background-size: cover;
}

.gridImg4 {
  background-image: url(../images/FotosDelMusi4.jpg);
  background-size: cover;
}

/*Contacto*/
#Formulario {
  display: flex;
}

#textoContacto {
  font-size: 20px;
  background-color: red;
  opacity: 0.7;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-image: black;
}

header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white;
}

main {
  min-height: 100vh;
  text-align: center;
  margin-top: 20px;
  font-family: "Hedvig Letters Serif", serif;
}

.PrimerImg img {
  height: auto;
  max-width: 100%;
}

/*Cards del Index*/
.modal-body img {
  height: auto;
  max-width: 75%;
  position: cover;
}

.card {
  transition: transform 0.2s;
  gap: 15px;
  font-size: 18px;
}

.card:hover {
  transform: scale(1.05);
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-around;
  overflow: hidden;
  text-align: center;
  gap: 13px;
  align-items: center;
  margin-top: 10px;
}

.card-body {
  max-height: 150px;
  overflow: auto;
}

/*Videos del index*/
#videos {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  background-image: url(../images/FondoPastel.jpg);
  object-fit: cover;
}

.Video {
  flex: 1;
  max-width: 300px;
}

.Video video {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
