
footer {
    margin-top: auto;
    background-color: #20D5CA;
    text-align: center;
    align-items: flex-end;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;  
}
.foterLinks ul li{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    text-align: center;
}

.foterLogo img {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: flex-start;
    
}

.foterRedes img {
    max-width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.foterRedes i {
    border: solid;
    height: 80px;
    width: 80px;
    background-color: black;
}