/*NavBar*/
.logoNav img{
    height: 70px;
    width: 95px;
    display: flex;
    justify-content: flex-start;
    
}
#navBar {
    margin-top: 70px; 
    display: flex;
    justify-content: space-around;
}

#navbarNav {
    justify-content: flex-end; 
}
.logoNav {
    width: 80px;
    height: 70px;
}

