@import "footer";
@import "headerNav";
@import "resetcss";
@import "imagenes/imagenes";
@import "contacto/contacto";
@import "conocenos/conocenos";
@import "tienda/tienda";
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-image: black;
}

header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
}

main {
    min-height: 100vh; 
    text-align: center;
    margin-top: 20px;
    font-family: 'Hedvig Letters Serif', serif;
}
.PrimerImg img{
    height: auto;
    max-width: 100%;
}
/*Cards del Index*/

.modal-body img{
    height: auto;
    max-width: 75%;
    position: cover;
}
.card {
    
    gap: 15px;
    font-size: 18px;
}
/*.card:hover {
    transform: scale(1.05); 
}*/
.card-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.card-body {
    max-height: 150px;
    overflow: auto;
}

/*Videos del index*/
#videos {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    background-image: url(../images/FondoPastel.jpg);
    object-fit: cover;
  }
  .Video {
    flex: 1;
    max-width: 300px; 
  }
  .Video video {
    width: 100%;
    height: auto;
  }

