
/*IMAGENES*/

#bannerIMG{
    text-align: center;
    margin-top: 90px;
}


#MainImg{
    background-color: skyblue;
}


#contedorImg{ 
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    max-width: 800px;
    gap: 10px;
    margin: 0 auto; 
}


#contedorImg{
    img{
        width: 100%;
        height: auto;
        border: 1px solid;
        border-radius: 8px;
    }
}
